
.button {
  height: 3.125rem;
  width: 100%;
  margin-bottom: 30px;
}
.button.large {
  width: 80%;
}
.button.normal {
  width: calc(6.26rem + 10%);
}
.button.small {
  width: 6.26rem;
}
.btn.cicle {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
}
.btn.square {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 1rem;
}
.btn {
  height: 100%;
  width: 100%;
  border-radius: 1.563rem;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--color-font);
  display: flex;
  justify-content: space-around;
}
.btn:focus {
  outline: none;
}
.btn:active {
  box-shadow: inset 6px 6px 12px var(--color-bottom-neumorphism),
             inset -6px -6px 12px var(--color-top-neumorphism);
  transform: scale(0.95);
  
}
