
.button {
  height: 3.125rem;
  width: 100%;
  border-radius: 1.563rem;
  font-size: 16px;
  letter-spacing: 1px;
  color: var(--color-font);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.large {
  width: 80%;
}
.normal {
  width: calc(6.26rem + 10%);
}
.small {
  width: 6.26rem;
}
.cicle {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 50%;
}
.square {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 1rem;
}

.button:focus {
  outline: none;
}
.button:active {
  box-shadow: inset 6px 6px 12px var(--color-bottom-neumorphism),
             inset -6px -6px 12px var(--color-top-neumorphism);
  transform: scale(0.95);
  
}
